<header id="header" role="banner">
  <div id="site-title">
    <a href="/" rel="home">
      <img src="/images/MadisoniumColorLogoMedShifted.png" alt="MADISONIUM" width="91" height="110" />
      MADISONIUM
    </a>
  </div>

  <div id="site-description">Tech Raised to the Power of M</div>
  <div id="social-media-icons">
    <a class="social-media-icon twitter" href="https://twitter.com/madisonium">Twitter</a>
  </div>

  <div class="clear desktop-only"></div>

  <nav id="access" roles="navigation">
    {% include navigation.html %}
  </nav>
</header>
