{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <div id="wrapper">
    {% include upgrade_browser.html %}
    {% include header.html %}

    <div id="container">
      <section id="content" class="column onecol">
        <article class="page column onecol">
        <div class="entry">
          <header class="entry-header">
            {% if page.icon %}
              <img title="{{ page.icon }}" src="/images/{{ page.icon }}.png" alt="" />
            {% endif %}
            <h1 class="entry-title">{{ page.title }}</h1>
          </header>
          <div class="entry-content">
            {{ content }}
            <div class="clear"></div>
          </div>
        </article>
      </section>
    </div>

    {% include footer.html %}
  </div>
</body>
</html>
